<%- include ('./partials/header.ejs')%>
        <div class="content">
             <h2>Welcome to our website</h2>
             <h3>Thanks! for showing interest towards our website. So, basically this is a Online shopping website.
                 You can find a wide range of collection from here. Hope, you like our website.
             </h3>
       </div>
<%- include('./partials/footer.ejs')%>